$btnbg: rgb(14, 170, 192);
$btncolor: #0eaac0;
$colorbg: #0c3c69;

.sketch {
  color: #fff;
  font-size: 12px;

  div {

    margin: 5px 0;
    margin-top: 10px;
  }
}

.content_right {
  height: 50%;
  padding: 40px 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // background: url('../../assets/icons/common/border2.png');
  background-image: url("/img/ui/border21.png");
  background-size: 100% 100%;
}

.right_tile_echarts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.right_tile_gaikuang {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  // background-image: url("/img/ui/border21.png");
  // background-size: 100% 100%;

  .gaikuang {
    position: relative;
    padding: 40px 25px 30px;
    width: 100%;
    background-image: url("/img/ui/border21.png");
    background-size: 100% 100%;
    margin-bottom: 10%;

    .ti {
      display: flex;
      justify-content: center;
    }

  }

  .data {
    position: relative;
    // height: 50%;
    margin-bottom: 10%;
    padding: 40px 25px 40px;
    width: 100%;
    background-image: url("/img/ui/border21.png");
    background-size: 100% 100%;

    .ti {
      display: flex;
      justify-content: center;
    }

  }
}


.left_box {
  position: relative;
  // padding: 40px 29px;
  padding: 22px 25px;
  width: 100%;
  height: calc(100% - 22px);
  // background: url('../../assets/icons/common/border.png');
  background: url('/img/ui/border.png');
  background-size: 100% 100%;

  .content_text {
    padding: 40px 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/ui/border21.png");
    background-size: 100% 100%;

    .icon_inside {
      position: absolute;
      padding: 0px 27px 60px 27px;
      left: 0;
      top: 0;
      width: 100%;
      height: 104%;
    }
  }
}

.left_content {
  padding: 0px 0px 0px 0;
  height: 95%;
  width: 100%;
  overflow: auto;

  // background-color: #0b163b;
  //   background-image: url('@/assets/icons/common/border2.png');
  //   background-size: cover;
  .ti {
    display: flex;
    justify-content: center;
  }

  .ulCont {
    list-style: none;
    padding-left: 10px;

    .harborfont {
      position: relative;
      // display: flex;
      font-size: 14px;
      // align-items: center;
      color: #fff;
      // height: 20px;

      // line-height: 20px;
      .ponit_state {
        display: inline-block;
        width: 4px;
        height: 4px;
        line-height: 20px;
        border-radius: 50%;
        background-color: $btncolor;
      }
    }
  }

  .mugang_title {
    background-image: url('/img/ui/title.png');
    position: absolute;
    top: 1%;
    // left: 35%;
    width: 120px;
    height: 30px;
    background-size: 100% 100%;

    .infoh {
      width: 100%;
      position: absolute;
      top: 5%;
      left: 0;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.left_nav {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  margin-bottom: 10px;
}

//右侧的nav标题
.right_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 20px;

  .right_title {
    flex: 0.9;
    transform: skew(-40deg);
    width: 25%;
    height: 20px;
    background-color: #0eaac0;
    text-align: center;
    margin-right: 3%;
    font-weight: 500;

    a {
      font-size: 12px;
      display: inline-block;
      transform: skew(40deg);
    }
  }
}

.right_content {
  width: 100%;
  height: 100%;
  background-color: #0b163b;
  // background: url('../../assets/icons/common/border2.png');
  background-image: url("/img/ui/border21.png");
  background-size: 100% 100%;
}

.middle_nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0f1c40;
  height: 100px;
  width: 100%;
  // position: relative;

  .search_time {
    position: absolute;
    left: 12%;
    color: #0eaac0;
    bottom: 14%;
  }
}

.bingli_style {
  cursor: default;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: 14px;
}

//公共的
//按钮的样式
.ponit_state {
  display: inline-block;
  width: 4px;
  height: 4px;
  line-height: 4px;
  border-radius: 50%;
  background-color: $btncolor;
}

.left_title {
  transform: skew(-40deg);
  flex: 1;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background-color: $colorbg;
  text-align: center;
  color: $btncolor;
  border: 0px;

  a {
    font-weight: 500;
    display: block;
    transform: skew(40deg);

    font-size: 12px;
  }

  div {
    transform: skew(45deg);
    font-size: 12px;
  }
}

//复选框的样式
.checkbox_css {
  width: 100%;
  color: #fff;
}

::v-deep .checkbox_css .el-checkbox__input {
  float: right;
  margin-right: 1%;
}

//选中的样式
.activeinofo {
  color: #0f1c40 !important;
  background-color: $btnbg  !important;
}

.box_content {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
}

.left,
.right,
.middle {
  position: relative;
  height: 100%;
}

.left,
.right {
  width: 25%;
  // transition: identifier 5s;
  // transition-duration: 10s;
}

// @keyframes identifier {
//   0% {
//     transform: translateX(100px);
//   }
// }

.middle {
  width: 50%;
}

.middle_title {
  color: #0eaac0;
}

.mugang_style_one {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mugang_style_one:hover {
  background-color: #0f1c40;
}