
$btn_color:#57d0d8;
.common_style{
    color: #fff;
    background-color: #3d5a5d !important;
}
.common_style:hover{
    background-color: $btn_color !important;
    font-weight: 500 !important;
    opacity: 1;
    border-color: $btn_color;
}

.btn_submit{
    background-color: #fff !important;
    color: #147b75 !important;
    border-radius: 12px !important;
}
.btn_submit:hover{
    background-color: #fff !important;
    color: #147b75 !important;
    border-radius: 12px !important;
    opacity: 1;
}
// 美化滚动条
::-webkit-scrollbar {
    width: 6px;
    // height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144,147,153,.3);
  }
  

  //修改基线
  .timeline_css{
    vertical-align: -2px
  }